log4cpp.rootCategory = DEBUG, rootAppender

log4cpp.category.System.log = DEBUG, SystemAppender, rootAppender
log4cpp.additivity.System.log = false

log4cpp.appender.rootAppender = org.apache.log4cpp.ConsoleAppender
log4cpp.appender.rootAppender.layout = org.apache.log4cpp.PatternLayout
log4cpp.appender.rootAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4cpp.appender.SystemAppender = org.apache.log4cpp.RollingFileAppender
log4cpp.appender.SystemAppender.fileName = ./Output/System.log
log4cpp.appender.SystemAppender.append = true
log4cpp.appender.SystemAppender.maxFileSize = 1073741824
log4cpp.appender.SystemAppender.maxBackupIndex = 1
log4cpp.appender.SystemAppender.layout = org.apache.log4cpp.PatternLayout
log4cpp.appender.SystemAppender.layout.ConversionPattern = [%p] [%d] %m%n