log4cpp.rootCategory = DEBUG, rootAppender

log4cpp.category.PlayerLogic.log = DEBUG, PlayerLogicAppender
log4cpp.additivity.PlayerLogic.log = false

log4cpp.category.System.log = DEBUG, SystemAppender, rootAppender
log4cpp.additivity.System.log = false

log4cpp.category.Capability.log = DEBUG, CapabilityAppender, rootAppender
log4cpp.additivity.Capability.log = false

log4cpp.category.Script.log = DEBUG, ScriptAppender
log4cpp.additivity.Script.log = false

log4cpp.appender.rootAppender = org.apache.log4cpp.ConsoleAppender
log4cpp.appender.rootAppender.layout = org.apache.log4cpp.PatternLayout
log4cpp.appender.rootAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4cpp.appender.PlayerLogicAppender = org.apache.log4cpp.RollingFileAppender
log4cpp.appender.PlayerLogicAppender.fileName = ./Output/PlayerLogic.log
log4cpp.appender.PlayerLogicAppender.append = true
log4cpp.appender.PlayerLogicAppender.maxFileSize = 1073741824
log4cpp.appender.PlayerLogicAppender.maxBackupIndex = 1
log4cpp.appender.PlayerLogicAppender.layout = org.apache.log4cpp.PatternLayout
log4cpp.appender.PlayerLogicAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4cpp.appender.SystemAppender = org.apache.log4cpp.RollingFileAppender
log4cpp.appender.SystemAppender.fileName = ./Output/System.log
log4cpp.appender.SystemAppender.append = true
log4cpp.appender.SystemAppender.maxFileSize = 1073741824
log4cpp.appender.SystemAppender.maxBackupIndex = 1
log4cpp.appender.SystemAppender.layout = org.apache.log4cpp.PatternLayout
log4cpp.appender.SystemAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4cpp.appender.CapabilityAppender = org.apache.log4cpp.RollingFileAppender
log4cpp.appender.CapabilityAppender.fileName = ./Output/Capability.log
log4cpp.appender.CapabilityAppender.append = true
log4cpp.appender.CapabilityAppender.maxFileSize = 1073741824
log4cpp.appender.CapabilityAppender.maxBackupIndex = 1
log4cpp.appender.CapabilityAppender.layout = org.apache.log4cpp.PatternLayout
log4cpp.appender.CapabilityAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4cpp.appender.ScriptAppender = org.apache.log4cpp.RollingFileAppender
log4cpp.appender.ScriptAppender.fileName = ./Output/Script.log
log4cpp.appender.ScriptAppender.append = true
log4cpp.appender.ScriptAppender.maxFileSize = 1073741824
log4cpp.appender.ScriptAppender.maxBackupIndex = 1
log4cpp.appender.ScriptAppender.layout = org.apache.log4cpp.PatternLayout
log4cpp.appender.ScriptAppender.layout.ConversionPattern = [%p] [%d] %m%n
