log4j.category.rootCategory = INFO, rootAppender

log4j.category.PlayerLogic.log = INFO, PlayerLogicAppender
log4j.additivity.PlayerLogic.log = false

log4j.category.System.log = INFO, SystemAppender, rootAppender
log4j.additivity.System.log = false

log4j.category.Capability.log = INFO, CapabilityAppender, rootAppender
log4j.additivity.Capability.log = false

log4j.category.Script.log = INFO, ScriptAppender
log4j.additivity.Script.log = false

log4j.category.Sql.log = INFO, SqlAppender
log4j.additivity.Sql.log = false

log4j.category.Billing.log = INFO, BillingAppender
log4j.additivity.Billing.log = false

log4j.category.Shopping.log = INFO, ShoppingAppender
log4j.additivity.Shopping.log = false

log4j.category.LogicSystem.log = INFO, LogicSystemAppender
log4j.additivity.LogicSystem.log = false

log4j.category.CheckCheat.log = INFO, CheckCheatAppender
log4j.additivity.CheckCheat.log = false

log4j.appender.rootAppender = org.apache.log4j.ConsoleAppender
log4j.appender.rootAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4j.appender.SystemAppender=org.apache.log4j.DailyRollingFileAppender
log4j.appender.SystemAppender.File = ../Output/System-GameD.log
log4j.appender.SystemAppender.Append = true
log4j.appender.SystemAppender.layout = org.apache.log4j.PatternLayout 
log4j.appender.SystemAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.SystemAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.LogicSystemAppender = org.apache.log4cpp.DailyRollingFileAppender
log4j.appender.LogicSystemAppender.fileName = ../Output/LogicSystem-GameD.log
log4j.appender.LogicSystemAppender.append = true
log4j.appender.LogicSystemAppender.layout = org.apache.log4cpp.PatternLayout
log4j.appender.LogicSystemAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.LogicSystemAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.CapabilityAppender = org.apache.log4j.RollingFileAppender
log4j.appender.CapabilityAppender.file = ../Output/Capability-GameD.log
log4j.appender.CapabilityAppender.append = true
log4j.appender.CapabilityAppender.maxFileSize = 1073741824
log4j.appender.CapabilityAppender.maxBackupIndex = 1
log4j.appender.CapabilityAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.CapabilityAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4j.appender.ScriptAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.ScriptAppender.file = ../Output/Script-GameD.log
log4j.appender.ScriptAppender.append = true
log4j.appender.ScriptAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.ScriptAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.ScriptAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.SqlAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.SqlAppender.file = ../Output/Sql-GameD.log
log4j.appender.SqlAppender.append = true
log4j.appender.SqlAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.SqlAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.SqlAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.PlayerLogicAppender=org.apache.log4j.DailyRollingFileAppender
log4j.appender.PlayerLogicAppender.File = ../Output/PlayerLogic-GameD.log
log4j.appender.PlayerLogicAppender.Append = true
log4j.appender.PlayerLogicAppender.layout = org.apache.log4j.PatternLayout 
log4j.appender.PlayerLogicAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.PlayerLogicAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.BillingAppender = org.apache.log4cpp.DailyRollingFileAppender
log4j.appender.BillingAppender.fileName = ../Output/Billing-GameD.log
log4j.appender.BillingAppender.append = true
log4j.appender.BillingAppender.layout = org.apache.log4cpp.PatternLayout
log4j.appender.BillingAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.BillingAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.ShoppingAppender = org.apache.log4cpp.DailyRollingFileAppender
log4j.appender.ShoppingAppender.fileName = ../Output/Shopping-GameD.log
log4j.appender.ShoppingAppender.append = true
log4j.appender.ShoppingAppender.layout = org.apache.log4cpp.PatternLayout
log4j.appender.ShoppingAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.ShoppingAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.LogicSystemAppender = org.apache.log4cpp.DailyRollingFileAppender
log4j.appender.LogicSystemAppender.fileName = ../Output/LogicSystem-GameD.log
log4j.appender.LogicSystemAppender.append = true
log4j.appender.LogicSystemAppender.layout = org.apache.log4cpp.PatternLayout
log4j.appender.LogicSystemAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.LogicSystemAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.CheckCheatAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.CheckCheatAppender.File = ../Output/CheckCheat-GameD.log
log4j.appender.CheckCheatAppender.Append = true
log4j.appender.CheckCheatAppender.layout = org.apache.log4j.PatternLayout 
log4j.appender.CheckCheatAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.CheckCheatAppender.DatePattern = '.'yyyy-MM-dd 