log4j.rootLogger = INFO, rootAppender

log4j.category.System.log = INFO, SystemAppender, rootAppender
log4j.additivity.System.log = false

log4j.category.Statistics.log = INFO, StatisticsAppender
log4j.additivity.Statistics.log = false

log4j.category.LogicSystem.log = INFO, LogicSystemAppender
log4j.additivity.LogicSystem.log = false

log4j.category.Billing.log = INFO, BillingAppender
log4j.additivity.Billing.log = false

log4j.appender.rootAppender = org.apache.log4j.ConsoleAppender
log4j.appender.rootAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4j.appender.SystemAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.SystemAppender.file = ../Output/System-Center.log
log4j.appender.SystemAppender.append = true
log4j.appender.SystemAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.SystemAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.SystemAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.LogicSystemAppender = org.apache.log4j.DailyRollingFileAppender
log4j.appender.LogicSystemAppender.file = ../Output/LogicSystem-Center.log
log4j.appender.LogicSystemAppender.append = true
log4j.appender.LogicSystemAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.LogicSystemAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.LogicSystemAppender.DatePattern = '.'yyyy-MM-dd 

log4j.appender.StatisticsAppender = org.apache.log4j.RollingFileAppender
log4j.appender.StatisticsAppender.file = ../Output/Statistics-Center.log
log4j.appender.StatisticsAppender.append = true
log4j.appender.StatisticsAppender.maxFileSize = 1073741824
log4j.appender.StatisticsAppender.maxBackupIndex = 1
log4j.appender.StatisticsAppender.layout = org.apache.log4j.PatternLayout
log4j.appender.StatisticsAppender.layout.ConversionPattern = [%p] [%d] %m%n

log4j.appender.BillingAppender = org.apache.log4cpp.DailyRollingFileAppender
log4j.appender.BillingAppender.fileName = ../Output/Billing-Center.log
log4j.appender.BillingAppender.append = true
log4j.appender.BillingAppender.layout = org.apache.log4cpp.PatternLayout
log4j.appender.BillingAppender.layout.ConversionPattern = [%p] [%d] %m%n
log4j.appender.BillingAppender.DatePattern = '.'yyyy-MM-dd 