<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Project Name="HeroOnline" Version="0.6.8.3131">
	<Setting>
        <Log ConfigFile="..\Config\log4cpp-Account.config" />
        <Network ListPort="51000" />
        <DB Testserver="0">
            <AccountDB Host="AccountDB" Port="2433" User="sa" Password="123" DBName="GameAccount" AccountCache="1" />
        </DB>
	</Setting>
</Project>