<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Project Name="HeroOnline" Version="0.6.13.3618">
	<Setting>
        <ServerInformation CorrespondingGameServerName="B服" ServerId="1" />
        <Log ConfigFile="..\Config\log4cxx-GateB1.config" />
        <Network>
            <ClientSerivce Host="172.20.254.79" Port="55010" />
            <GameServer Host="GameServerB" Port="54011" />
        </Network>
        <Logic MaxPlayerOnline="1000" ClientPingSpaceTime="10000" OutOfLoginTime ="60" />

        <!-- 需要开放的地图 -->
        <ActiveMaps>
			<Map Id="0" IsOpen="0"/>
			<Map Id="1" IsOpen="0"/>
			<Map Id="2" IsOpen="0"/>
			<Map Id="3" IsOpen="0"/>
			<Map Id="4" IsOpen="0"/>
			<Map Id="5" IsOpen="0"/>
			<Map Id="6" IsOpen="0"/>
			<Map Id="7" IsOpen="0"/>
			<Map Id="8" IsOpen="1"/>
			<Map Id="9" IsOpen="0"/>
			<Map Id="10" IsOpen="0"/>
			<Map Id="11" IsOpen="0"/>
			<Map Id="12" IsOpen="1"/>
			<Map Id="13" IsOpen="0"/>
			<Map Id="20" IsOpen="0"/>
			<Map Id="21" IsOpen="0"/>
			<Map Id="22" IsOpen="0"/>
			<Map Id="50" IsOpen="0"/>
			<Map Id="51" IsOpen="0"/>
			<Map Id="52" IsOpen="0"/>
			<Map Id="53" IsOpen="0"/>
			<Map Id="54" IsOpen="1"/>
			<Map Id="55" IsOpen="0"/>
			<Map Id="56" IsOpen="0"/>
			<Map Id="57" IsOpen="0"/>
			<Map Id="58" IsOpen="0"/>
			<Map Id="59" IsOpen="0"/>
			<Map Id="60" IsOpen="0"/>
			<Map Id="61" IsOpen="0"/>
			<Map Id="62" IsOpen="0"/>
			<Map Id="63" IsOpen="0"/>
			<Map Id="64" IsOpen="0"/>
			<Map Id="65" IsOpen="0"/>
			<Map Id="66" IsOpen="0"/>
			<Map Id="67" IsOpen="0"/>
			<Map Id="68" IsOpen="0"/>
			<Map Id="69" IsOpen="0"/>
			<Map Id="70" IsOpen="0"/>
			<Map Id="71" IsOpen="0"/>
			<Map Id="72" IsOpen="0"/>
			<Map Id="73" IsOpen="0"/>
                        <Map Id="74" IsOpen="0"/>
			<Map Id="77" IsOpen="0"/>
			<Map Id="78" IsOpen="0"/>
			<Map Id="79" IsOpen="1"/>
			<Map Id="80" IsOpen="1"/>
			<Map Id="81" IsOpen="0"/>
			<Map Id="82" IsOpen="0"/>
			<Map Id="250" IsOpen="1"/>
			<Map Id="9997" IsOpen="0"/>
			<Map Id="9998" IsOpen="0"/>
			<Map Id="9999" IsOpen="0"/>
        </ActiveMaps>
	</Setting>
</Project>