<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Project Name="HeroOnline" Version="0.6.8.3131">
	<Setting>
        <Log ConfigFile="..\Config\log4cxx-Center.config" />
        <Network>
            <ListPort GameServer="53000" LoginServer="53001" Platform="53002"/>
            <PlatformServer Ip="59.151.112.240" Port="8888" />
            <DBServer DBServerIp="DatabaseServer" DBServerPort="52000" CenterServerId="8"/>
            <!-- MysqlSetting MySqlDateBaseName数据库的名字 MySqlDateBaseUser数据库的用户名 MySqlDateBaseIp数据库的Ip地址 MySqlDateBasePort数据库的端口 MySqlQuerySpaceTime数据库查询online表的间隔时间,单位毫秒 MySqlBolckAccountTime数据库中插入MySqlBolckAccountTime表中阻塞的时间单位秒 -->
    <MysqlSetting MySqlDateBaseName="gls8003" MySqlDateBaseUser="test" MySqlDateBasePassword="test" MySqlDateBaseIp="172.20.254.17" MySqlDateBasePort="3306" MySqlQuerySpaceTime="1000" MySqlBlockAccountTime="10" MySqlOnceUpdateAccount="100"/>
        </Network>
        <Logic MaxTickNum="100" OutReqLoginTime="300000" FirstGameServerId="9" SaveSwornTime="300000"/>
        <AntiAddictionSystem IsOpen="0" Time1="180" Time2="300" Time1Tell="60" Time2Tell="30" Time3Tell="15" />
	</Setting>

</Project>