<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Project Name="HeroOnline" Version="0.6.8.3131">
	<Setting>
        <ServerInformation ServerId="0" />
        <Log ConfigFile="..\Config\log4cpp-Login.config" />
        <Network>
            <ClientSerivce Host="WanLoginServer" Port="50000" />
            <CenterServer Host="CenterServer" Port="53001" />
            <AccountServer Host="AccountServer" Port="51000" />
        </Network>
        <AntiPlugin IsOpen="0" CreateImgExe="..\Data\CreateImgCode\CreateCodeImage.exe" TmpImageFolder="..\Output\TmpImage" />
        <Logic MaxLoginClientCount="2400" IsKickCheater="0" IsCheckAgain="0" />
	</Setting>
</Project>