<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Project Name="HeroOnline" Version="0.6.8.3131">
	<Setting>
        <Log ConfigFile="..\Config\log4cxx-Database.config" />
        <Network ListPort="52000" />
        <DB Testserver="0"> 
            <AccountDB Host="AccountDB" Port="2433" User="sa" Password="123" DBName="GameAccount" />
            <GameDB Host="GameDB" Port="2433" User="sa" Password="123" DbName="Role" SelectDelRole="1" />
            <MysqlDB Host="GameDB" Port="3306" User="root" Password="123" DbName="hero_online"/> 
        </DB>
        <Logic EnterWorldConfine="100" RoleSaveConfine="500" OtherSaveConfine="500"/>
	</Setting>
</Project>