<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by ch_w (xjtu) -->
<Project Name="HeroOnline" Version="0.6.13.3618">
	<Setting>
		<!-- 游戏世界的名字,需要和对应的Gateserver.ini一样 系统会自动根据不同的名字生成不同的ID....一组游戏世界中名字不能一样 -->
		<ServerInformation Name="A服" AreaId="1" ServerId="0"/>
		<!-- Log ConfigFile:相对与执行文件目录-->
		<Log ConfigFile="..\Config\log4cxx-GameA.config"/>
		<!-- 网络 IsMultiThreadSend:是否启用多线程发包-->
		<Network IsMultiThreadSend="1">
			<!-- 需要修改-->
			<DatabaseServer Host="DatabaseServer" Port="52000"/>
			<CenterServer Host="CenterServer" Port="53000"/>
			<ListenPort GateServer="54001" GmTool="54002"/>
			<DB Host="ServerInfoDB" Port="2433" User="sa" Password="123" DBName="ServerInfo"/>
		</Network>
		<FileDB OutputPath="..\Output\FileDb-GameA"/>
		<Born>
			<Point MapId="11" X="85" Y="80"/>
			<Point MapId="11" X="85" Y="80"/>
			<Point MapId="11" X="85" Y="80"/>
			<Point MapId="11" X="85" Y="80"/>
			<Point MapId="11" X="85" Y="80"/>
			<Point MapId="11" X="85" Y="80"/>
		</Born>
		<!-- 游戏时间 YearName:元年名字 Year:年 Month:月 Day:日 Hour:小时 Minute:分 RealLifeRate:游戏时间和现实时间的比率 CurYear:当前-->
		<GameTime YearName="Hero" Year="1" Month="8" Day="2" Hour="13" Minute="0" RealLifeRate="4" CurYear="1"/>
		<!-- 防沉迷 IsOpen:是否打开 防沉迷每阶段的时间（秒）& 经验减少的比例-->
		<AntiWallow IsOpen="0" FirstPhase="28800" FirstPhaseExpSub="20" FirstPhaseSkillExpSub="20" SecondPhase="43200" SecondPhaseExpSub="40" SecondPhaseSkillExpSub="40" ThirdPhase="57600" ThirdPhaseExpSub="80" ThirdPhaseSkillExpSub="80"/>
		<!-- 时间事件时间 RefreshTimeHour:RefreshTimeMinute:定时刷新时间 TellOnlineTimeInterval:每隔多久告诉在线时间的（毫秒） IntegralTimeInterva:每次积分增加的时间（秒）&如果荣誉小与0，每次增加荣誉值时间-->
		<EventTime RefreshTimeHour="23" RefreshTimeMinute="58" TellOnlineTimeInterval="1800000" IntegralTimeInterval="3600"/>
		<!-- Pk IsOpen:PK开关 FirstKillRate:第一次杀死% SecondKillRate:第二次杀死% ThirdKillRate:第三次杀死% MoreKillRate:更多次杀死% RefreshTimeOnKillTheSameOne:杀死同一个人的刷新时间[秒] PkValueMaxPerDay:每天获得最大PK值（不能大于PK值上限不能小于0）-->
		<PK IsOpen="1" FirstKillRate="100" SecondKillRate="80" ThirdKillRate="40" MoreKillRate="0" RefreshTimeOnKillTheSameOne="120" PkValueMaxPerDay="1000"/>
		<!-- 切磋 HpRestoreRate:切磋结束后回复的HP% OutProtectTime:切磋结束后保护时间（秒）0：表示没有保护时间-->
		<Duel HpRestoreRate="15" OutProtectTime="3"/>
		<!-- 怪物 AIIsOpen:是否开启所有怪物AI MultiThreadRefresh:是否启用多线程刷怪-->
		<Monster IsAIOpen="1" IsMultiThreadRefresh="0"/>
		<!-- 玩家 OnlineMax:游戏中能有的最多PLAYER数目 LevelLimit:等级上限 FriendMax:好友数量 SkillExpLimit:技能经验最大值 MoneyLimit:金钱最大值 SaveDelay:自动保存的时间 OnlySaveToDBOnExit:角色退出游戏世界是否存储数据库 
             NormalBagInitSize:新建角色的普通背包大小 MaterialBagInitSize:新建角色的材料背包大小 LockItemLimt:加锁物品的数量上限 SitdownRestorePer:坐下回复加快 RestoreCheckTime:回血速度 IntegralMaxByItem:物品增加的积分上限
             AfkTime:暂离时间 HighShoutCountPerDay:每日最多可以高喊次数 IsHighShoutTimeLimit:是否由时间控制高喊1是0否 HighShotTimeInterval:高喊间隔时间(秒)-->
		<Player OnlineMax="1200" LevelLimit="70" FriendMax="100" SkillExpLimit="705032704" MoneyLimit="1000000000" SaveDelay="600000" OnlySaveToDBOnExit="1" NormalBagInitSize="24" MaterialBagInitSize="24" InitMountCountMax="2" LockItemLimt="5" SitdownRestorePer="200" RestoreCheckTime="3000" IntegralMaxByItem="550" AfkTime="120" HighShoutCountPerDay="999" IsHighShoutTimeLimit="1" HighShotTimeInterval="180000"/>
		<!-- 游戏世界 IsMultiThreadProcess:是否启用多线程处理地图逻辑 GoldCovSilver:一个元宝可以换取的银票数量 MonsterNumber:游戏世界中怪物的最大数量 KickPlayerByCredit:是否启用信用踢人 ReliveOriginAllHpMp:玩家顶级时候完美复活的RMB系数
                      ReliveOriginNon:原地复活 RePairCost:远程修理价格RMB StageThreadSleep:多线程处理场景时,线程Sleep时间 IsDisableChatofWorld:是否禁用天下喊话 LockIntensifyRMB:锁定强化的银票 ShopCenterOffSet:商城打折 GlobalDropRate:全局物品掉落率-->
		<GameWorld IsMultiThreadProcess="0" GoldCovSilver="500" MonsterNumber="1000" KickPlayerByCredit="1" ReliveOriginAllHpMp="200" ReliveOriginNon="20" RePairCost="0" StageThreadSleep="10" IsDisableChatofWorld="0" LockIntensifyRMB="500" ShopCenterOffSet="100" GlobalDropRate="1.00"/>
		<!-- Gm Password:密码-->
		<GM Password="12345!@#$%" />
		<!-- 任务 GoldMultiplicator:金钱倍数 ExperienceMultiplicator:经验倍数 MultiplicatorProbability:出现倍数几率-->
		<Quest GoldMultiplicator="0" ExperienceMultiplicator="0" MultiplicatorProbability="0"/>
		<!-- 需要开放的地图 -->
		<ActiveMaps>
			<Map Id="0" IsOpen="0"/>
			<Map Id="1" IsOpen="0"/>
			<Map Id="2" IsOpen="0"/>
			<Map Id="3" IsOpen="0"/>
			<Map Id="4" IsOpen="0"/>
			<Map Id="5" IsOpen="0"/>
			<Map Id="6" IsOpen="0"/>
			<Map Id="7" IsOpen="0"/>
			<Map Id="8" IsOpen="0"/>
			<Map Id="9" IsOpen="0"/>
			<Map Id="10" IsOpen="0"/>
			<Map Id="11" IsOpen="1"/>
			<Map Id="12" IsOpen="0"/>
			<Map Id="13" IsOpen="0"/>
			<Map Id="20" IsOpen="0"/>
			<Map Id="21" IsOpen="0"/>
			<Map Id="22" IsOpen="1"/>
			<Map Id="50" IsOpen="0"/>
			<Map Id="51" IsOpen="0"/>
			<Map Id="52" IsOpen="0"/>
                        <Map Id="53" IsOpen="1"/>
			<Map Id="54" IsOpen="0"/>
			<Map Id="55" IsOpen="1"/>
			<Map Id="56" IsOpen="0"/>
			<Map Id="57" IsOpen="0"/>
			<Map Id="58" IsOpen="1"/>
			<Map Id="59" IsOpen="1"/>
			<Map Id="60" IsOpen="0"/>
			<Map Id="61" IsOpen="1"/>
			<Map Id="62" IsOpen="0"/>
			<Map Id="63" IsOpen="0"/>
			<Map Id="64" IsOpen="0"/>
			<Map Id="65" IsOpen="1"/>
			<Map Id="66" IsOpen="1"/>
			<Map Id="67" IsOpen="0"/>
			<Map Id="68" IsOpen="1"/>
			<Map Id="69" IsOpen="0"/>
			<Map Id="70" IsOpen="0"/>
			<Map Id="71" IsOpen="0"/>
			<Map Id="72" IsOpen="0"/>
			<Map Id="73" IsOpen="0"/>
                        <Map Id="74" IsOpen="0"/>
			<Map Id="77" IsOpen="0"/>
			<Map Id="78" IsOpen="0"/>
			<Map Id="79" IsOpen="0"/>
			<Map Id="80" IsOpen="0"/>
			<Map Id="81" IsOpen="0"/>
			<Map Id="82" IsOpen="0"/>
			<Map Id="250" IsOpen="0"/>
			<Map Id="9997" IsOpen="0"/>
			<Map Id="9998" IsOpen="0"/>
			<Map Id="9999" IsOpen="0"/>
		</ActiveMaps>
	</Setting>
</Project>
